# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/*.suo
/*.opensdf
/*.sdf
/Debug
/test/Debug/*.log
/test/Debug/test.tlog/*.tlog
/test/Debug/*.idb
/test/Debug/*.pdb
/test/Debug/test.tlog/*.lastbuildstate
/tinype/Debug/tinype.tlog/*.lastbuildstate
/tinype/Debug/*.log
/x64/Debug/*.ilk
/x64/Debug/*.pdb
/test/x64/Debug/test.tlog/*.tlog
/test/x64/Debug/test.tlog/*.lastbuildstate
/test/x64/Debug/*.idb
/test/x64/Debug/*.pdb
/tinype/x64/Debug/*.log
/tinype/x64/Debug/tinype.tlog/*.lastbuildstate
/test/x64/Debug/*.log
